.animate-text {
  display: inline-block;
  vertical-align: baseline;
  overflow: hidden;
}

.animate-text__char {
  display: inline-block;
  vertical-align: baseline;
  animation: animate-char 0.35s ease-out backwards;
}

@keyframes animate-char {
  from {
    transform: translateY(120%);
  }

  to {
    transform: translateY(0);
  }
}
